.dbtn,
.dbtn>div{
    display: block;
    height: 45px;
    line-height: 45px;
}

.dbtn>div{
    position: fixed;
    text-align: center;
    width: 100%;
    left:0;
    bottom:0;
    padding:1px;
    background: #fff;
    box-shadow: 0 2px 3px rgba(10,10,10,0.3);
    -webkit-box-shadow: 0 2px 5px rgba(10,10,10,0.3);
    -moz-box-shadow: 0 2px 5px rgba(10,10,10,0.3);
    -ms-box-shadow: 0 2px 5px rgba(10,10,10,0.3);
}
.dbtn>div .btn_download,
.dbtn>div .btn_email{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
    padding:0;
    width:100px;
}

.dbtn>div .btn_email{
    display: inline-block;
    margin-left: 20px;
}