<div class="prc_reg_back">
    <div class="prc_back">
        <div>
            <a href="javascript:void(0);" class="prc_start_logo">
                <img [src]="logo" />
            </a>
            <span class="statusText">{{statusText}}</span>
            <span class="tipText">{{tipText}}</span>
            <span class="scanTip">{{scanTip}}</span>
            <img class="qrImage" src="{{qrImage}}" />
            <div style="display:block;height: 50px;"></div>
        </div>
    </div>
</div>