.newBack {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.nav,
.nav>div,
.nav>div>div {
    display: block;
    height: 60px;
    line-height: 60px;
    background: #fff;
}
.nav>div{
    border-bottom: 1px solid #eee;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav>div>div>img{
    display: block;
    height:30px;
    float:left;
    margin-left: 10px;
    margin-top: 15px;
}
.nav>div>div>a{
    display: block;
    width: 40px;
    height: 60px;
    float: right;
    color:#063368;
}
.nav>div>div>a>img{
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    margin-top: 20px;
}
.nav>div>div>.menu_lang {
    text-decoration: none;
    text-align: center;
}
.nav_menu {
    display: block;
    border-top:1px solid #eee;
    -webkit-box-shadow: 0 2px 3px rgba(10,10,10,0.2);
    -moz-box-shadow: 0 2px 3px rgba(10,10,10,0.2);
    -ms-box-shadow: 0 2px 3px rgba(10,10,10,0.2);
    box-shadow: 0 2px 3px rgba(10,10,10,0.2);
    list-style: none;
    margin: 0;
    padding: 0;
    background: #fff;
    -webkit-animation: key_nav_open 0.8s ease;
    -moz-animation: key_nav_open 0.8s ease;
    -ms-animation: key_nav_open 0.8s ease;
    animation: key_nav_open 0.8s ease;
    transform-origin: top center;
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -ms-transform-origin: top center;
}
.nav_menu li{
    display: block;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #eee;
    text-align: center;
    color:#063368;
}
.nav_menu li>span{
    font-size:14px;
    position: relative;
}
.nav_menu li>span::after{
    content: "";
    display: block;
    height: 0;
    widows: 0;
    border: 6px solid transparent;
    border-left-color: #063368;
    position: absolute;
    right:-16px;
    top: 2px;
}
@keyframes key_nav_open{
    0%{
        transform: scaleY(0.1);
        opacity: 0
    }
    100%{
        transform: scaleY(1);
        opacity: 1
    }
}
@-webkit-keyframes key_nav_open{
    0%{
        -webkit-transform: scaleY(0.1);
        opacity: 0
    }
    100%{
        -webkit-transform: scaleY(1);
        opacity: 1
    }
}
.nav_menu .nav_search>div {
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 0 20px;
    padding-top: 5px;
    position: relative;
}
.nav_menu .nav_search>div>a{
    display: block;
    width: 35px;
    height: 30px;
    position: absolute;
    right:0;
    top:5px;
    background: url(../../../assets/prc/search.png) no-repeat;
    background-size: 18px 18px;
    background-position: 8px;
}
.nav_menu .nav_search>div input[type=search]{
    display: block;
    height: 30px;
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding: 0 10px;
    padding-right: 30px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    outline: none;
    border: 1px solid #ddd;
    background: #fff;
    box-shadow: 0 2px 3px #ddd inset;
    -webkit-box-shadow: 0 2px 3px #ddd inset;
    -moz-box-shadow: 0 2px 3px #ddd inset;
    -ms-box-shadow: 0 2px 3px #ddd inset;
}
.nav_menu .nav_search>div input[type=search]:hover,
.nav_menu .nav_search>div input[type=search]:focus{
    border-color:#1857aa;
    -webkit-box-shadow: 0 1px 2px #1857aa inset;
    -moz-box-shadow: 0 1px 2px #1857aa inset;
    -ms-box-shadow: 0 1px 2px #1857aa inset;
    box-shadow: 0 1px 2px #1857aa inset;
}
/* .nav_menu .nav_search>div input::after,
.nav_menu .nav_search>div input:after{
    content:"";
    display: block;
    width: 20px;
    height: 20px;
    background: url(../../../assets/prc/search.png);
    background-size: 20px 20px;
    position: absolute;
    right:6px;
    top:10px;
} */

.attachShadow {
    /* box-shadow: 0 2px 5px rgba(10,10,10,0.2);
    -webkit-box-shadow: 0 2px 5px rgba(10,10,10,0.2);
    -moz-box-shadow: 0 2px 5px rgba(10,10,10,0.2);
    -ms-box-shadow: 0 2px 5px rgba(10,10,10,0.2); */
}
.nav_context {
    /* position: relative; */
    display: block;
    overflow: auto;
    height: calc(100% - 60px);
    height: -webkit-calc(100% - 60px);
    height: -moz-calc(100% - 60px);
    height: -ms-calc(100% - 60px);
}

.noMenuBar .nav {
    display: none;
}
.noMenuBar .nav_context {
    height: 100%;
}